* {
    margin: 0;
    padding: 0;
}

#container{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.3);
   
    opacity: 1;
}

#subContainer{
    display: none;
    border: 1px solid grey;
    border-radius: 12px;
    background: #fff;
   
}
.bottomBorder{
    margin: 0;
    height: 0.5px;
    border: none;
    background-color: #f1f4f8;
    
}
#head{
    width: 100%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#cityListBox{
    width: 400px;
    height: 465px;
    margin: auto;
    /* border: 1px solid  black; */
    overflow: scroll;
    overflow-x: hidden;
}

#selectCity{
   margin-left: 20px;
   color: #384150;
   font-family: 'Poppins', sans-serif;
   font-size: 18px;
}
.crossIcon{
    margin-right: 20px;
}
.crossIcon img{
    font-size: 20px;
    color: #868B9A;
}

#firstBox{
    padding: 0 20px;
}
.para{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #868B9A;
    padding: 17px 0 0;
    
}

#topCities{
    padding: 8px 0;
}

#topCities>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-check{
    color: #38C6C6;
}

.topCity{
    color: #282B33;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding: 12px 56px 12px 16px;
}
#topCities div img {
    width: 15px;
    height: 12px;
    display: none;
}
#otherCities div img {
    width: 15px;
    height: 12px;
    display: none;
}
#topCities>div:hover{
    color: #21C0C0;
    background-color:#E6F8F8
}

#topCities i {
    display: none;
}

.selected-city {
    background-color: #E6F8F8;
    padding-right: 10px;
}

.selected-city .topCity {
    color: #0EBABA;
}

.selected-city .otherCity {
    font-weight: bold;
    color: #0EBABA;
}

.selected-city i {
    display: block!important;
}

#otherCities i {
    display: none;
}

#secondBox{
    padding: 0 20px;
}
#otherCities{
    padding: 8px 0;
}

#otherCities>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.otherCity{
    color: #282B33;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    /* font-weight: 600; */
    padding: 12px 56px 12px 16px;
}

#otherCities>div:hover{
    color: #21C0C0;
    background-color:#E6F8F8
}

/* NAV - BAR */

.navbar {
    width: 100%;
    height: 60px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    background-color: white;
   
    position: fixed;
    top: 0;
    z-index: 3;
}

.logo {
    width: 200px;
    float: left;
    height: 70px;
    display: flex;
   
}

.break {
    float: left;
    padding-top: 5px;
    padding-left: 50px;
    font-size: 40px;
    color: rgb(174,174,174);
}

.title {
    color: black;
    font-size: 20px;
    font-family: Arial;
    padding-left: 10px;
    float: left;
    padding-top: 18px;
}

.title_1 {
    color: rgb(174,174,174);
    font-size: 20px;
    font-weight: lighter;
    font-family: Arial;
    padding-left: 5px;
    float: left;
    padding-top: 18px;
}

.menu {
    width: 600px;
    float: left;
    height: 70px;
    
}

ul {
    float: right;
    display: flex;
    align-items: center;
    margin-right: 100px;
}

ul li {
    list-style: none;
    font-size: 14px;
    margin-top: 20px;

}

ul li a {
    text-decoration: none;
    font-size: 14px;
    margin-right: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: rgb(60, 64, 67);
}

ul li a:hover {
    color: teal;
}

ul li img {
    margin-right: 5px;
}

.responsive-nav {
    display: none;
    width: 100vw;
    height: 120px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: rgb(255, 255, 255);
    background-image: linear-gradient(to left, rgb(28, 171, 162), rgb(28, 127, 171));
}

.nav-images {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px 15px;
}

.nav-images > div {
    display: flex;
    gap: 14px;
}

.nav-image-logo img {
    position: relative;
    height: 42px;
    width: 58px;
}

.nav-images p {
    position: absolute;
    font-family: Poppins;
    color: white;
    font-size: 9px;
    margin-top: -12px;
    margin-left: 22px;
    opacity: 0.9;
}

.nav-image-hyundai img {
    width: 178px;
    height: 30px;
}

.nav-buttons {
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
}

.nav-buttons div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Poppins;
    font-weight: bold;
    padding: 8px 0px;
    border-radius: 20px;
    cursor: pointer;
}

.nav-buttons div:first-child {
    background-color: rgba(5,24,51,.35);
}

.nav-buttons div:nth-child(2) {
    opacity: 0.9;
}

@media (max-width: 768px) {
    .navbar {
        display: none;
    }

    .responsive-nav {
        display: block;
    }
    .main {
        margin-top: -100px !important;
        display: block!important;
        background-image: none!important;
    }
    .exploreBar {
        display: none!important;
    }
    .mahindraLogo {
        display: none;
    }
    .howItWork {
        display: none;
    }
    #searchbarContainer {
        display: none!important;
    }
    #firstFoter {
        display: none;
    }
    .faq {
        margin-top: -200px !important;
    }
}

/* BODY */


.main {
    width: 100%;
    height: 700px;
    display: flex;
    gap: 30px;
    /* background-image: url("../REVV.co.in/background.jpg"); */
    background-image: url(https://wallpapers.com/images/high/pitch-black-hyundai-6ux5vayadjfar5tm.jpg);
    background-size: cover;
    background-position: center;
}

#searchbarContainer{
    display: none;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 3;
    background: #fff;
    box-shadow: 3px 3px 6px 0 rgb(0 0 0 / 16%);
    margin-top: 60px;
    padding: 15px 0;
}
#searchBar{
    display: none;
    /* display: grid; */
    grid-template-columns: repeat(4,1fr);
    margin-left: 100px;
    margin-right: 122px;
}

#searchBar>div{
    font-family: Roboto, sans-serif;
    font-weight: 700;
    padding: 10px;
}
.city-box{
    display: flex;
}

.locationIcon>i{
    padding: 0 12px;
    color: black;
}

.city{
    border: 1px solid grey;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: black;
    font-size: 14px;
}
.startTime{
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    border-right: 1px solid grey;
    color: rgba(0, 0, 0, 0.3);
    font-size: 14px;
}

.endTime{
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    color: black;
    font-size: 14px;
}

.search{
    display:flex;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
    border-radius: 5px;
    background-image: linear-gradient(to left, rgb(28, 171, 162), rgb(28, 127, 171));
    color: white;
    font-size: 18px;
    margin-left: -5px;
}

.searchBar {
    flex: 1;
    max-width: 40vw;
    margin-top: 120px;
    margin-left: 100px;
    background-color: white;
    border-radius: 4px;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Poppins;
    height: 400px;
    width: 600px;
}
.exploreBar {
    flex: 1;
    max-width: 30vw;
    margin-top: 120px;
    padding: 0px 15px;
    background-color: white;
    /* margin-right: 100px; */
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding-right: 150px; */
    height: 93px;
    background-color: #e7e7e7;
}
.exploreBar:hover {
    cursor: pointer;
}
.searchTop {
    width: 332px;
    height: 20px;
}
#search {
    height: 257px;
    width: 90%;
}
.searchInput {
    width: 100%;
    height: 68px;
    background-color: white;
    display: flex;
    flex-shrink: 1;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}
.searchInput img {
    height: 24px;
    width: 24px;
}

.searchInput button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
}

.searchInput button img {
    width: 14px;
    height: 14px;
}

#date {
    height: 63px;
    width: 45%;
    font-size: 20px;
    font-family: Poppins;
    margin-left: 10px;
}
#city_search {
    width: 455.8px;
    height: 65px;
    margin-left: 10px;
    margin-right: -10px;
    cursor: pointer;
    font-weight: 800!important;
}

.howItWork {
    padding: 60px 15px 30px;
    margin-left: 90px;
}
.howItWorkHead {
    height: 36.59px;
    width: 960px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
}
#work div {
    height: 283px;
    width: 243px;
}
#work div h4 {
    font-size: 24px;
    font-family: Poppins;
    margin-bottom: 5px;
}
#work div p {
    font-size: 14px;
    font-family: Poppins;
}
#work div img {
    border-radius: 100px;
    width: 120px;
    height: 120px;
    border: 8px solid #ddd;
    margin-bottom: 35px;
    
    box-sizing: border-box;
    box-shadow: rgb(0 0 0 / 25%) 0px 14px 45px, rgb(0 0 0 / 22%) 0px 10px 18px;
    transition: transform 0.2s ease;
}
#work div img:hover {
    transform: scale(1.2);
  transform: rotate(360deg);
  transition-duration:02s;
 border: 14px double rgb(4, 175, 175);
 
}
.FAQs {
    background-color: #fcfcfc;
    margin: 0px 21px;
    padding-top: 20px;
}
.faq {
    height: 36.59px;
    width: 960px;
    margin: 0px 0px 20px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    margin-left: 95px;
    font-weight: bold;
}
.faq_div p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
.faq_div, 
.faq img {
    cursor: pointer;
}

.logos {
    width: 100%;
    height: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.logos div {
    width: 120px;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logos div img {
    height: 80%;
    width: 99%;
}
.logos div:hover {
    border-radius: 40px;
    background-color: #f4f4f4;
    cursor: pointer;
}

.journey {
    /* margin: 0px 21px; */
    padding: 60px 0px 30px;
    background-color: whitesmoke;
}
.ourJourney h2 {
    font-size: 30px;
    font-family: Poppins;
    font-weight: bold;
    margin-left: 95px;
}
.journeyLogo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.journeyLogo div {
    height: 175px;
    width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* first foter creation */

#firstFoter{
    width: 100%;
    height: 300px;
    background-color: rgb(42,43,54);
    padding: 60px 0;
}

#cityService
{
    display: flex;
      width: 100%;
    justify-content: space-around;

}
#cityService h2 {
    font-size: 16px;
    font-family: 'Poppins' , sans-serif;
    color: #FFFFFF;
    margin: 20px 0;
}
#cityService a{
    text-decoration: none;
    color: rgb(124,125,131);
    font-size: 13px;
    font-family: 'poppins';
    font-weight: bold;
}
#cityService>div a:hover{
    color: whitesmoke;
}
#cityService p{
    text-align: left;
    text-align: justify;
    margin-top: 0px;
    margin: 15px 0;
}

/* middle fotter creation */

#midFoter{
    width: 100%;
    height: 270px;
}
#midDivFot
{
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(61,66,80);
}
#firstDiv {
    display: flex;
    flex-direction: column;
    gap: 0px;
}
#firstDiv img {
    margin-top: 30px;
}
#firstDiv li{
    list-style: none;
    
    
}
#firstDiv ul{
    display: flex;
    gap: 10px;
    
}
#firstDiv i{
    font-size:26px;
    text-align: center;
    width: 45px;
    height: 40px;
    border-radius: 50%;
    background-color:#0EBABA;
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
} 
#firstDiv>img{
    width: 105px;
    height: 75px;
}

#h3,#h4{
    color: #FFF;
    font-family: 'Poppins';  
    text-align: justify;
    margin-left: 40px;
}
#h4 {
    font-weight: lighter;
}
#h3 {
    font-size: 24px;
}
#contact {
    font-weight: lighter;
    font-size: 24px;
    color: #0EBABA;
    font-weight: bold;
    margin-left: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#h2{
    color: #0EBABA;
    font-family: 'poppins';  
    text-align: justify;
    margin-left: 40px;
}
#pLine{
    text-align: left;
    color: #fff;
    font-size: 10px;
    font-family: 'poppins';
}

#lastTextFoter{
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 40px 0;
}
#lastTextFoter p,.lastH2{
    text-align: left;
    text-align: justify;
    margin-left: 120px;
    font-family: 'poppins';
    margin-right: 10px;
}
#lastTextFoter p{
   font-size: 14px;
    margin-right: 100px;
    margin-top: 10px;
    color: rgb(145,148,139); 
}
.lastH2{
    font-size: 18px;
    font-weight: 500;
    color: black;   
}
b{
    font-weight: bolder;
}